<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="sm_report_designer_menu_root"
              name="Report Designer"
              web_icon="sm_report_designer,static/description/icon.png"
              sequence="250"/>

    <menuitem id="sm_report_designer_menu_templates"
              name="Templates"
              parent="sm_report_designer_menu_root"
              action="sm_report_template_action"
              sequence="10"/>

</odoo>
